.grid-container {
    width: 100%;
    margin: 0 auto;
}

/* line 9, scss/main.scss */
.grid-container .row:before, .grid-container .row:after {
    content: "";
    display: table;
    clear: both;
}

/* line 16, scss/main.scss */
.grid-container [class*='col-'] {
    float: left;
    min-height: 10px;
    width: 8.333%;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    /* line 28, scss/main.scss */
    .row {
        margin: 5px;
    }
    .row .col-4 {
        width: 100%;
    }
    .row .col-6 {
        width: 100%;
    }
    .row .col-12 {
        width: 100%;
    }
}

@media (min-width: 640px) {
    /* line 49, scss/main.scss */
    .row {
        margin: 5px;
    }
    .row .col-4 {
        width: 33.33333%;
    }

    .row .col-6 {
        width: 50%;
    }
    .row .col-8 {
        width:75%;
    }
    .row .col-12 {
        width: 100%;
    }
}
.col-12,.col-8,.col-6,.col-4{

    /*border:2px solid black;*/

}
.header p{

    float:left;
    padding:10px;
    margin:0 0 0 0 ;
    text-align: center;
    color: white;
    font-size: 20px;
}
.header{
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#slider,
.wrap,
.slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 60vh;
    overflow-x: hidden;
}

.wrap {
    position: relative;
    width: 80%;
    margin-left: 20%;

}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url("../images/slider1.jpg");
}
.slide2 {
    background-image: url("../images/slider2.jpg");
}
.slide3 {
    background-image: url("../images/slider3.jpg");
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 2rem;
    color: #fff;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 10px 20px 10px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fff;
    right:150px;
    margin-right: 30px;
}

.article1{
float:left;
}

.article2{
    float:right;
}
.section-2{
    margin-top:40px;
}

.box1{
    background-image: url("../images/slider4.jpg");

}
.box2{
    background-image: url("../images/slider2.jpg");

}
.box3{
    background-image: url("../images/header.jpg");
}
.box1,.box2,.box3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
