.grid-container {
    max-width:1200px;
    margin: 0 auto;
}

/* line 9, scss/main.scss */
.grid-container .row:before, .grid-container .row:after {
    content: "";
    display: table;
    clear: both;
}

/* line 16, scss/main.scss */
.grid-container [class*='col-'] {
    float: left;
    width: 8.333%;
    box-sizing: border-box;
}

@media (max-width: 640px) {
    /* line 28, scss/main.scss */
    .row {
        margin: 5px;
    }
    .row .col-4 {
        width: 100%;
    }
    .row .col-6 {
        width: 100%;
    }
    .row .col-12 {
        width: 100%;
    }
}

@media (min-width: 640px) {
    /* line 49, scss/main.scss */
    .row {
        margin: 5px;
    }
    .row .col-4 {
        width: 33.33333%;
    }

    .row .col-6 {
        width: 50%;
    }
    .row .col-8 {
        width:75%;
    }
    .row .col-12 {
        width: 100%;
    }
}
.col-12,.col-8,.col-6,.col-4{

    /*border:2px solid black;*/
}
.header p{

    float:left;
    padding:10px;
    margin:0 0 0 0 ;
    text-align: center;
    color: black;
    font-size: 20px;

}
.header{
    background-image: url("../images/header.jpg");opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-0{
    margin-left: 150px;
    margin-right: auto;
    margin-top: 50px;/*??pytanie */

}

#slider,
.wrap,
.slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;


}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url("../images/slider1.jpg");
}
.slide2 {
    background-image: url("../images/slider2.jpg");
}
.slide3 {
    background-image: url("../images/slider3.jpg");
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 2rem;
    color: #fff;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 10px 20px 10px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fff;
    right:0;
    margin-right: 30px;
}

.article1{
    font-size: 18px;
    color: grey;

}

.section-1 h1{
    text-align: center;


}
.section-2{
    margin-top:40px;
    box-sizing: border-box;
}
.box1,.box2,.box3{
    position:relative;
    border: 1px solid grey;

}
.section-2 a{
    position: absolute;
    right:30px;

}

.img1{
    background-image: url("../images/slider4.jpg");

}
.img2{
    background-image: url("../images/slider2.jpg");

}
.img3{
    background-image: url("../images/header.jpg");
}
.img1,.img2,.img3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin:0 20px 0 20px;
}
.footer{
    background-image: url("../images/slider2.jpg");opacity:0.5;
    width:100%;
    height: 200px;
    margin:30px 0 0 0 ;
}
.icon1{
    background-image: url("../images/flickr.png");
}
.icon2{
    background-image: url("../images/twitter.png");
}
.icon3{
    background-image: url("../images/vimeo.png");
}
.icon1,.icon2,.icon3{
    width: 40px;
    height: 40px;
    float: left;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:100px 100px 0 100px ;
}
.auto{
    text-align: center;
}
